:root{
    --border-style:2px solid white;
    --spacing-size:20px;
}
*{
    font-size:1em;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h1{
    font-size:2em;
}
h2{
    font-size:1.5em;
}
a{
    text-decoration:underline;
}
a:hover{
    cursor:pointer;
}

body{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#centralDiv{
    height:100%;
    width:100%;

    background-color:black;
}
.topBars{
    text-wrap: nowrap;
    overflow-x: auto;
}
#centralDiv > *{
    margin:var(--spacing-size);
    font-size:1em;
    
}
p{
    margin:0px;
}

a:not(.journalMenuEntry){
    color:cyan;
}

#contentRegion{
    margin:0;
    padding:0;
    border:0;
}

#journalRegion{
    display:flex;
    margin:0;
    padding:0;
}
#directoryRegion{
    overflow-y:auto;
    scrollbar-gutter:stable;
    width:auto;
    border:var(--border-style);
    margin:0;
    padding:var(--spacing-size);
    line-height:2;
}

.redWarn{
    color:pink;
}
.material-symbols-outlined{
    vertical-align: middle;
}

#journalRegion > div{
    margin:0;
    padding:0;
    overflow-y:auto;
    scrollbar-gutter:stable;
}
#journalRegion > div:not(#journalLeftBar){
    border:var(--border-style); /* border for right and central bar only */
}
#journalLeftBar{
    border:0px; /*remove border from left bar as entries have borders*/
}
#journalCenterBar{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.journalThird{
    width:33.33%;
}
.journalTwoThird{
    width:66.66%;
}
.journalMenuEntry{
    border:var(--border-style);
    text-decoration:none;
    margin:0;
    padding:var(--spacing-size);
    cursor:pointer;
    background-color:black;
    display:block;
}
.journalMenuEntrySelected{
    background-color:rgba(0,255,255,0.2);
}
.journalMenuEntry:hover{
    background-color:rgba(255,255,255,0.1);
}
.journalMenuEntrySelected:hover{
    background-color:rgba(0,255,255,0.3);
}
.journalText{
    text-align:center;
    margin:var(--spacing-size);
    white-space:pre-wrap;
}
.journalAttachment{
    max-width:100%;
    max-height:100%;
}
textarea,input{
    color:black;
    field-sizing:content;
    overflow:auto;
    resize:none;
}
